div#settings_container
  ul#setting_tabs
    li(ng-repeat="tab in tabs.labels",ng-class="{'selected':tabs.selected == '{{tab}}'}",ng-click="tabs.selectTab()")
      {{tab}}
  time.page-form
  units.page-form
  general.page-form